doctype html
html(lang="en")

  head
    script(type="text/javascript",  src="/js/FORGE.js")
    script(type="text/javascript",  src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(type="text/javascript",  src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")

    link(rel="stylesheet", href="/styles/base.css")
    link(rel="stylesheet", href="/styles/jquery.nouislider.min.css")
    link(rel="stylesheet", href="/styles/jquery.nouislider.pips.min.css")
    script(type="text/javascript",  src="/js/jquery.nouislider.all.min.js")

    link(rel="stylesheet", href="/styles/jquery-ui.min.css")
    link(rel="stylesheet", href="/styles/jquery-ui.structure.min.css")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/bootstrap-theme.min.css")
    script(type="text/javascript",  src="/js/bootstrap.min.js")

    link(rel="stylesheet", href="/styles/main.css")

    style(type="text/css").
        body {
            max-width: 960px;
            margin: 10px auto;
        }
        #sidebar {
            padding-left: 20px;
            float: left;
            width: 30%;
        }
        #main {
            float: left;
            width: 70%;
        }
        #canvas {
            box-shadow: 3px 3px 5px 6px #ccc; 
        }
        #options {
            margin: 20px 10px;
        }

  body
    list models on bucket
    cache models locally 
    examine metadata for a given model
    trigger an obj generation, expose download link
